.tableButton {
    position: fixed;
    bottom: 90px; // Над NavBar
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 9px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: none;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }

    &:active {
        opacity: 0.8;
        transform: scale(1.2) translateX(-45%);
    }
}

